body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color:palegreen;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: lightblue;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 90%;
  max-width: 350px;
  text-align: center;
}

h2 {
  margin-bottom: 15px;
  color: #333;
}

input, button {
  width: 100%;
  padding: 10px;
  margin: 8px 0;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

input:focus {
  outline: none;
  border-color: #007bff;
  background-color: #f9f9ff;
}

button {
  background-color:darkcyan;
  color: #fff;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color:darkblue;
}
